{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Пройти квест</title>
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="main-navigation">
				<div class="logo">
					<a href="{% url 'index' %}"><strong>Quest's creed</strong></a>
					<span>Городские квесты</span>
				</div>
				<nav class="menu">
					<ul>
						<li><a href="{% url 'quests' %}">Квесты</a></li>
						<li><a href="{% url 'news' %}">Новости</a></li>
						<li><a href="{% url 'rules' %}">Правила</a></li>
					</ul>
				</nav>	
				<div class="authorization">
					<ul>
						<li>
						{% if user.is_authenticated %}
					 		<span class="user">Привет, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Выйти</a>)</small></span>
       					{% else %}
       						<a href="{% url 'login' %}">Войти</a>/<a href="{% url 'register' %}">Регистрация</a>
       					{% endif %}
       					</li>
					</ul>
				</div>		
			</div>
		</div>
	</header>

	<main class="main">
		<div class="container">
			<div class="quest_pass-index">
				<h2 class="quest_pass-index_title">Добро пожаловать на квест &laquo;{{ quest.quest_title }}&raquo;</h2>
				<div class="quest_pass-cover_{{ quest.pk }}"><a href="{% url 'quest_pass_stage' quest_pk=quest.pk stage_pk=1 %}" class="quest_pass-index_button">Начать квест</a></div>
			</div>
		</div>
	</main>

	<footer class="pass_footer"></footer>
</body>
</html>