{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ quest.quest_title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="main-navigation">
				<div class="logo">
					<a href="{% url 'index' %}"><strong>Quest's creed</strong></a>
					<span>Городские квесты</span>
				</div>
				<nav class="menu">
					<ul>
						<li><a href="{% url 'quests' %}">Квесты</a></li>
						<li><a href="{% url 'news' %}">Новости</a></li>
						<li><a href="{% url 'rules' %}">Правила</a></li>
					</ul>
				</nav>	
				<div class="authorization">
					<ul>
						<li>
						{% if user.is_authenticated %}
					 		<span class="user">Привет, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Выйти</a>)</small></span>
       					{% else %}
       						<a href="{% url 'login' %}">Войти</a>/<a href="{% url 'register' %}">Регистрация</a>
       					{% endif %}
       					</li>
					</ul>
				</div>		
			</div>
		</div>
	</header>

	<main class="main">
		<div class="container">
			<div class="news_form-main">
				<h1 class="news_form-title">Редактировать квест</h1>
			    <form method="POST" class="news_form">{% csrf_token %}
			        {{ form.as_p }}
			        <div class="quest_edit-form_links">
				        <button type="submit" class="quest_form-button">Сохранить изменения</button>
			        </div>
			    </form>
			</div>
		</div>
	</main>

	<footer class="pass_footer"></footer>
</body>
</html>